.card{
    background: url("../images/cards.png");
    background-size: 1092px 610px;
    width: 84px;
    height: 122px;
    display: inline-block;
    margin: 20px;
    box-shadow: 0 0 3px #000, 1px 1px 3px #000, -1px -1px 3px #000;
    border-radius: 4px;
    transition: margin .2s, box-shadow .2s;
}
.card.active:hover{
    margin-bottom: 40px;
    margin-top: 0;
    box-shadow: 0 0 3px #000, 1px 1px 5px red, -1px -1px 5px red;
}
.card.allowed:hover{
    margin-bottom: 40px;
    margin-top: 0;
    box-shadow: 0 0 5px #000, 1px 1px 5px green, -1px -1px 5px green;
}
.rotate90{
    transform: rotate(90deg);
}
.card.shirt{
    background-position-y:-488px;
    background-position-x:-168px;
}
.card.v-joker.red{
    background-position-y:-488px;
    background-position-x:-84px;
}
.card.v-joker.black{
    background-position-y:-488px;
    background-position-x:0;
}
.card.hearts{
    background-position-y:-244px;
}
.card.tiles{
    background-position-y:-122px;
}
.card.clovers{
    background-position-y:0;
}
.card.pikes{
    background-position-y:-366px;
}
.card.v-a{
    background-position-x:0;
}
.card.v-2{
    background-position-x:-84px;
}
.card.v-3{
    background-position-x:-168px;
}
.card.v-4{
    background-position-x:-252px;
}
.card.v-5{
    background-position-x:-336px;
}
.card.v-6{
    background-position-x:-420px;
}
.card.v-7{
    background-position-x:-504px;
}
.card.v-8{
    background-position-x:-588px;
}
.card.v-9{
    background-position-x:-672px;
}
.card.v-10{
    background-position-x:-756px;
}
.card.v-j{
    background-position-x:-840px;
}
.card.v-q{
    background-position-x:-924px;
}
.card.v-k{
    background-position-x:-1008px;
}