.bank{
    width: 200px;
    float:left;
    position: relative;
    height: calc(100% - 320px );
}
.bank .deck{
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    height: 120px;
}

.bank .card.shirt{
    position: relative;
    z-index: 1;
}
.bank .rotate90.card{
    margin-left: -80px;
}

.trash{
    width: 200px;
    float:right;
    position: relative;
    height: calc(100% - 320px );
}
.trash .deck{
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    height: 120px;
}

.hand{
    text-align: center;
    height: 150px;
}
.hand .card{
    margin-right: -40px;
}
.hand .card:hover{
    position: relative;
    z-index: 1;
}

.play-ground{
    height: calc(100% - 320px );
}
.play-ground .card{
    margin-right: -80px;
}
button.primary{
    box-shadow: 0 0 5px green;
}