*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,.game-field{
    height: 100%;
}
body{
    background-color: #f1f1f1;
    color: #353535;
    font-family: 'Roboto', sans-serif;
    font-size:13px;
    line-height: 16px;
}
button[disabled]{
    opacity: .5;
}