<!DOCTYPE html>
<html ng-app="durak">
<head>
    <link rel="stylesheet" href="styles/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-controller="AppCtrl">

    <div class="game-field" ng-controller="GameCtrl">
        <div class="player-hand hand">
            <!--<div class="card shirt" ng-repeat="card in players[0].hand"></div>-->
            <div class="card {{card.suit}} v-{{card.value}}" ng-repeat="card in game.players[0].hand|orderBy:'_gameValue'"></div>
        </div>
        <div class="trash" ng-if="game.trash.length">
            <div class="deck">
                <div class="card shirt"></div>
            </div>
        </div>
        <div class="bank"  title="{{game.deck.length}} left" ng-init="trump = game.deck[0]">
            <div class="deck"  ng-if="game.deck.length">
                <div class="card shirt"></div>
                <div class="rotate90 card {{trump.suit}} v-{{trump.value}}" ></div>
            </div>
            <div class="deck"  ng-if="!game.deck.length && trump">
                <div class="rotate90 card {{trump.suit}} v-{{trump.value}}" style="opacity: .3;margin-left: 20px"></div>
            </div>
        </div>
        <div class="play-ground">
            <div ng-repeat="card in game.table" class="card {{card.suit}} v-{{card.value}}" title="{{card|json}}"></div>
            <div>
                CP: {{game.currentPlayer}} TP: {{game.turnPlayer}}
                <button ng-click="game.take()"
                        ng-if="isMyTurn() && !isMyAttack() && game.table.length"
                        ng-class="{primary: !isAllowedUse()}">
                    Take
                </button>
                <button ng-click="game.discard()"
                        ng-if="isMyTurn() && isMyAttack() && game.table.length"
                        ng-class="{primary: !isAllowedUse()}">
                    Pass
                </button>
            </div>
        </div>

        <div class="my-hand hand">

            <div class="card {{card.suit}} v-{{card.value}}" ng-repeat="card in game.players[1].hand|orderBy:sortHandBy"
                ng-class="{
                    'active': isMyTurn(),
                    'allowed': (isMyAttack() && game.isAllowedAttack(card)) || (!isMyAttack() && game.isAllowedDefence(card))
                }" ng-click="useCard(card)">
            </div>
            <button ng-click="sortHandBy = '_value'" ng-disabled="sortHandBy == '_value'">ByValue</button>
            <button ng-click="sortHandBy = '_gameSuit'" ng-disabled="sortHandBy == '_gameSuit'">BySuit</button>
            <button ng-click="sortHandBy = '_gameValue'" ng-disabled="sortHandBy == '_gameValue'">ByGameValue</button>
        </div>
        <!--<div ng-repeat="card in deck" class="card {{card.suit}} v-{{card.value}}"></div>-->
    </div>
    <script src="scripts/app.js"></script>
    <script src="scripts/app.ctrl.js"></script>
    <script src="scripts/game.ctrl.js"></script>
    <script src="scripts/game.service.js"></script>
    <script src="scripts/shuffle.filter.js"></script>
    <script src="scripts/deck.service.js"></script>
    <script src="scripts/game-ai.service.js"></script>
</body>